# ==============================================================================
# GUARDÍAN DE GIT - ARCHIVOS IGNORADOS
# ==============================================================================

# Ignorar nuestro ambiente virtual personalizado (¡No subir!)
Aplicacion

# Archivos temporales que genera Python al ejecutarse solo en tu máquina
*.pyc
__pycache__/

# Archivos ocultos del sistema operativo (Mac y Windows)
.DS_Store
Thumbs.db

# Configuraciones locales de tu Visual Studio Code
.vscode/
